<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#155799">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/paper.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          {% if page.permalink != '/' -%}
          <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
            {%- if site.title == "blank" -%}
              {%- if site.first_name -%}
                <span class="font-weight-bold">{{- site.first_name -}}&nbsp;</span>
              {%- endif -%}
              {%- if site.middle_name -%}
                {{- site.middle_name -}}&nbsp;
              {%- endif -%}
              {%- if site.last_name -%}
                {{- site.last_name -}}
              {%- endif -%}
            {%- else -%}
              {{- site.title -}}
            {%- endif -%}
          </a>
          {%- elsif site.enable_navbar_social -%}
          <!-- Social Icons -->
          <div class="navbar-brand social">
            {% include social.html %}
          </div>
          {% endif %}
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap">

              {%- for page in site.pages -%}
                {% if page.permalink == '/' %}
                  {% assign about_title = page.title %}
                {% endif %}
              {% endfor %}

              <!-- About -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="{{ '/' | relative_url }}">{{ about_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {% if site.blog_nav_title %}
              <!-- Blog -->
              <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
                <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_nav_title }}
                  {%- if page.url contains 'blog' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {%- endif %}

              <!-- Other pages -->
              {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
              {%- for p in sorted_pages -%}
              {%- if p.nav and p.autogen == nil -%}
              {%- if p.dropdown %}
              <li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ p.title }}
                  {%- if page.title == p.title -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  {%- for child in p.children -%}
                  {%- if child.title == 'divider' %}
                  <div class="dropdown-divider"></div>
                  {%- else %}
                  <a class="dropdown-item" href="{{ child.permalink | relative_url }}">{{ child.title }}</a>
                  {%- endif -%}
                  {% endfor %}
                </div>
              </li>
              {%- else %}
              <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
                  {%- if page.title == p.title -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {%- endif -%}
              {%- endif -%}
              {% endfor -%}
              {%- if site.enable_darkmode %}

              <!-- Toogle theme mode -->
              <li class="toggle-container">
                <button id="light-toggle" title="Change theme">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </button>
              </li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </nav>

    <header class="page-header" role="banner">
      <h1 class="project-name font-size:250%" style="color:white">{{ page.title }}</h1>
      <br>
      <h2 class="project-tagline" style="color:white">{{ page.author }}</h2>
      <h2 class="project-tagline" style="color:white">{{ page.affiliation }}</h2>
      {% if page.paper %}
      <a href="{{ page.paper}}" class="btn">Paper</a>
      {% endif %}
      {% if page.code %}
      <a href="{{ page.code}}" class="btn">Code</a>
      {% endif %}
      {% if page.poster %}
      <a href="{{ page.poster }}" class="btn">Poster</a>
      {% endif %}
      {% if page.slides %}
      <a href="{{ page.slides }}" class="btn">Slides</a>
      {% endif %}
      {% if page.website %}
      <a href="{{ page.website }}" class="btn">Website</a>
      {% endif %}
      {% if page.dataset %}
      <a href="{{ page.dataset }}" class="btn">Dataset</a>
      {% endif %}
      {% if page.benchmark %}
      <a href="{{ page.benchmark }}" class="btn">Benchmark</a>
      {% endif %}
    </header>

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
